OPENAI_API_KEY=
REACH_MODEL=
EVE_URL=http://127.0.0.1:21949
EVE_PORT=21949
REACH_CHANNELS=
REACH_CACHE_DIR=.local/cache
ROUTE_AUTH_BASIC_USER=
ROUTE_AUTH_BASIC_PASSWORD=
GH_TOKEN=
PORT=3000
EXA_API_KEY=
TWITTER_AUTH_TOKEN=
TWITTER_CT0=
